<footer>
    <section class="bg-green-50 py-5 ">
        <div class="mx-auto text-center">
            <h2 class="text-green-500 text-2xl font-extrabold py-5">Get FreshCart App Now !</h2>
            <p>stay connect and get exclusive offers and updates</p>
                <div class=" mx-auto py-5">
                    <input type="text"    placeholder="Enter your email" class="bg-white rounded-s-full py-3     px-4 pl-10 focus:outline-none focus:ring-2 focus:ring-green-200 transition duration-300 ease-in-out text-gray-500 w-1/4" />
                    <button     class=" focus:outline-none  hover:text-gray-700 transition-all duration-500 bg-green-500 text-white py-3 rounded-e-full px-4 font-bold"><i class="fa-regular fa-paper-plane px-1"></i> Share App link</button>
                </div>
                <hr>
<div class="flex justify-between items-center  px-5">
    <p class="font-light text-sm text-start ms-10">created By <span class="font-extrabold"> Хаким</span>...</p>
    <p class="font-light text-sm text-center">&copy; 2024 FreshCart. All rights reserved.</p>
</div>

        </div>
    </section>
</footer>


