<app-reg-nav></app-reg-nav>
<section
  class="grid grid-cols-2 w-1/2 mx-auto shadow-2xl rounded-2xl px-5 py-0 mt-36 shadow-gray-600 max-sm:w-full"
>
  <form *ngIf="step0" [formGroup]="forgetForm" (ngSubmit)="forget()">
    <!-- header -->
    <div class="m-0">
      <h2
        class="mainTXT text-lg pt-2 pb-1 max-sm:text-4xl max-md:text-3xl max-lg:text-4xl"
      >
        Don't Worry
      </h2>
      <p class="stylish-paragraph max-md:text-md">Just give us your email</p>
    </div>
    <input
      type="email"
      id="email"
      formControlName="email"
      placeholder="example@gmail.com..."
      class="text-gray-500 text-sm p-1 px-2 rounded-xl w-full focus:outline-none focus:shadow-lg transition-all shadow-green-200 shadow-sm mt-10"
    />
    <div
      class="text-center"
      *ngIf="
        (forgetForm.get('email')?.touched ||
          forgetForm.get('email')?.value.length > 0) &&
        forgetForm.get('email')?.errors
      "
    >
      <p
        class="alert bg-red-200 text-red-500 rounded-b-full w-1/2 mx-auto font-light text- text-sm"
        *ngIf="forgetForm.get('email')?.getError('required')"
      >
        Your email's required
      </p>
      <p
        class="alert bg-red-200 text-red-500 rounded-b-full w-1/2 mx-auto font-light text- text-sm"
        *ngIf="forgetForm.get('email')?.getError('email')"
      >
        this email is not valid
      </p>
    </div>
    <div class="flex justify-between">
      <button
        class="bg-green-100 text-gray-500 rounded-2xl mx-auto my-5 px-5 py-1 font-semibold focus:bg-green-200 focus:text-gray-700 transition-all focus:scale-95 focus-within:scale-105"
      >
        Done
        <span *ngIf="isLoading"
          ><i class="fa-solid fa-spinner animate-spin text-gray-500 ps-1"></i
        ></span>
      </button>
    </div>

    <p
      *ngIf="errMsg"
      class="alert bg-gray-100 text-gray-500 rounded-full w-full mx-auto font-light text-center py-1 text-xs"
    >
      {{ errMsg }}
    </p>
  </form>
  <form *ngIf="step1" [formGroup]="verifyForm" (ngSubmit)="verify()">
    <!-- header -->
    <div class="m-0">
      <h2 class="mainTXT text-lg mb-4 max-sm:text-6xl max-sm:mb-10">
        Verify Code
      </h2>
      <p class="stylish-paragraph">check your email for the code</p>
    </div>
    <input
      type="text"
      [min]="0"
      id="code"
      formControlName="resetCode"
      placeholder="Code..."
      class="text-gray-500 text-sm p-1 px-2 rounded-xl w-full focus:outline-none focus:shadow-lg transition-all shadow-green-200 shadow-sm mt-10"
    />
    <button
      class="bg-green-100 text-gray-500 rounded-2xl mx-auto my-5 px-5 py-1 font-semibold"
    >
      Done
      <span *ngIf="isLoading"
        ><i class="fa-solid fa-spinner animate-spin text-gray-500 ps-1"></i
      ></span>
    </button>
    <p
      class="alert bg-gray-100 text-gray-500 rounded-full w-full mx-auto font-light text-center py-1 text-sm"
      *ngIf="errMsg && errMsg != ''"
    >
      {{ errMsg }}
    </p>
  </form>
  <form *ngIf="step2" [formGroup]="resetForm" (ngSubmit)="reset()">
    <!-- header -->
    <div class="m-0">
      <h2 class="mainTXT text-lg mb-4 max-sm:text-6xl max-sm:mb-10">
        Reset Password
      </h2>
      <p class="stylish-paragraph">Create your new password</p>
    </div>
    <input
      type="password"
      id="newPassword"
      formControlName="newPassword"
      placeholder="*******"
      class="text-gray-500 text-sm p-1 px-2 rounded-xl w-full focus:outline-none focus:shadow-lg transition-all shadow-green-200 shadow-sm mt-10"
    />
    <div
      class="text-center"
      *ngIf="
        (resetForm.get('newPassword')?.touched ||
          resetForm.get('newPassword')?.value.length > 0) &&
        resetForm.get('newPassword')?.errors
      "
    >
      <p
        class="alert bg-red-200 text-red-500 rounded-b-full w-3/4 mx-auto font-light text- text-sm"
        *ngIf="resetForm.get('newPassword')?.getError('required')"
      >
        Your newPassword's required
      </p>
    </div>
    <button
      class="bg-green-100 text-gray-500 rounded-2xl mx-auto my-5 px-5 py-1 font-semibold"
    >
      Done
      <span *ngIf="isLoading"
        ><i class="fa-solid fa-spinner animate-spin text-gray-500 ps-1"></i
      ></span>
    </button>
    <p
      class="alert bg-gray-100 text-gray-500 rounded-full w-full mx-auto font-light text-center py-1 text-sm"
      *ngIf="errMsg"
    >
      {{ errMsg }}
    </p>
  </form>
  <!-- image form -->
  <div class="img-page">
    <img
      src="./assets/images/download (1).jpeg"
      alt="reset password"
      class="w-full h-full object-cover"
    />
  </div>
</section>
