<header class="text-gray-600 body-font top-0 w-full z-50 absolute">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <a
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
    >
      <img
        src="./assets/images/freshcart-logo.svg"
        alt="freshCart-logo"
        class="w-full"
      />
    </a>
    <nav
      class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 max-sm:pl-5 flex flex-wrap items-center text-base justify-center"
    >
      <a href="" class="px-1 hover:text-green-600 transition-all duration-500"
        ><i class="fab fa-facebook"></i
      ></a>
      <a href="" class="px-1 hover:text-green-600 transition-all duration-500"
        ><i class="fab fa-x-twitter"></i
      ></a>
      <a href="" class="px-1 hover:text-green-600 transition-all duration-500"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="" class="px-1 hover:text-green-600 transition-all duration-500"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a href="" class="px-1 hover:text-green-600 transition-all duration-500"
        ><i class="fab fa-whatsapp"></i
      ></a>
      <a href="" class="px-1 hover:text-green-600 transition-all duration-500"
        ><i class="fab fa-youtube"></i
      ></a>
    </nav>
  </div>
</header>
