@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Jersey+15&display=swap');
.card{
  .addFav{
    transform: translateX(50px);
  }
  &:hover{
    .addFav{
        z-index: 3;
        transform: translateX(2px);
        transition: all .3s ease-in-out;
}
  }
    .addBtn{
        transform: translateY(80px);
        scale: .5;
        transition: all .3s ease-in-out;
        transition-duration: .8s;
    }
    &:hover{
        .addBtn{
            transform: translateY(0);
            scale: 1;
            transition: all .5s ease-in-out;
            transition-duration: .3s;
        }
        img{
            scale: 1.1;
            transition: all .9s ease-in-out;
            z-index: 0 !important;
        }

    }

}
// welcome text
.welcomeStylishText{
    cursor: pointer;
    font-size: 4rem;
    font-weight: bold;
    color: #2c3e50;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #16a085, #f39c12);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    // padding-inline: 20px;
    border-radius: 10px;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'jersey15';
    animation: bounce 1.5s infinite;
  
    @keyframes bounce {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
    }
  }
  
